*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(7, 34, 39, 1);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden  ;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    background-color: rgba(24, 24, 23, 0.37);
    padding: 15px;
}

.guest-part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.search-bar {
    display: flex;
    padding-left: 20px;
    align-items: center;
    width: 75%;
}

.search-bar form {
    display: flex;
    width: 100%;
}

.search-bar form input{
    display: flex;
    padding: 15px;
    width: 90%;
}

.search-bar input {
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    border: none;
    color: white;
    font-family: quiclsand;
    font-weight: 600;
    background-color: rgba(48, 52, 52, 0.52);
}

.search-bar button {
    display: flex;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: none;
    border: none;
    padding: 15px;
}

.profile-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
}

.iklan {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.iklan img {
    width: 60%;
}

.side-description {
    max-width: fit-content;
}

.side-description icon {
    color: white;
}

.side-description p {
    padding-left: 10px;
    color: white;    
}

.side-description a{
    display: flex;
    padding-top: 10px;
    padding-left: 60px;
}

.items-1 {
    display: flex;
    padding-top: 20px;
}

.gmbr-120 {
    margin-left: 60px;
    max-width: 320px;
}

.gmbr-120 img {
    width: 100%;
    min-width: 100  px;
    border-radius: 10px;
}

.ohmaga2 {
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
    margin: auto;
}

.ohmaga2 i{
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

.tems- {
    background-color: rgba(158, 213, 197, 1);
    margin-left: 20px;
    align-items: center;
    border-radius: 20px;
    width: 64%;
    height: fit-content;
}

.tems img {
    padding-left: 10px;
}

.tems {
    display: flex;
    padding: 10px;

}

.star-items {
    padding-left: 20px;
}

.ohmaga3 p:nth-child(1) {
    /* text-align: center; */
    font-family: quicksand;
    font-weight: 600;
    font-size: 20px;    
    color: aqua;
}

.ohmaga01 p:nth-child(1) {
    /* text-align: center; */
    font-family: quicksand;
    padding-top: 5px;
    font-weight: 200;
    font-size: 15px;    
    color: white; 
}

.ohmaga01 h5 {
    /* font-size: 10px; */
    font-family: quicksand !important;
    font-weight: 200 !important;

}

.ohmaga01 h5 {
    /* text-align: center; */
    align-items: center;
    font-family: quicksand;
    padding-top: 5px;
    font-weight: 400;
    font-size: 12px;   
    padding-left: 10px; 
    color: white; 
}

.ohmaga01 {
    display: flex;
    align-items: center;
    text-align: center;
    /* padding-left: 10px; */
}

.ohmaga3 {
    padding-bottom: 20px;
}

.ohamaga4 {
    padding-bottom: 40px;
}

.ohamaga4 p{
    color: white;
    font-family: quicksand;
    font-weight: 300;
    font-size: 15px;
}

.btn-ohmaga {
    background-color: rgba(58, 136, 145, 1);
    padding-bottom: 10px;
    margin: auto;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

.btn-ohmaga p {
    padding-left: 15px;
    color: white;
}

.btm-ohg img {
    width: 15%;
    background-color:transparent;
    padding: 5px;
    
}

.btm-ohg p {
    font-weight: 600;
    font-family: quicksand;
    color: white;
    font-size: 20px;
}

.btm-ohg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explanation-content {
    padding-top: 40px;
}

.What-is-Traderie {
    padding-top: 20px;
}

.What-is-Traderie p {
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: quicksand;
}

.What-is-Traderie hr {
    justify-content: center;
    margin: auto;
    width: 15%;
}

#cntn {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.cntn- {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.cntn- img {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 10px;
    /* padding-left: 160px; */
}

.cntn- p:nth-child(2) {
    font-family: quicksand;
    font-weight: 600;
    padding-top: 15px;
    /* color: black !important; */
}

.cntn- hr{
    margin: auto;
    width: 45%;
}

.cntn- p {
    text-align: center;
    color: white;

}

#cntg {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 10px;
}

.pl {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pl p {
    color: white;
    font-family: quicksand;
    font-weight: 600;
    font-size: 12px;
}

.pl img {
    width:  45px;
    height: 45px;
    padding-right: 35px;
}

.grt {
    margin: auto;
    border-bottom: 1px solid white;
    width: 95%;
}

.ohmg p{
    width: 45%;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-family: quicksand;
    font-weight: 600;

}

.gmbr-ohmg {
    width: fit-content;
    display: flex;
    gap: 20px;
    margin: auto;
}

.gmbr-p p{
    margin-top: 0px !important;
    text-align: center;
    color: white;
    font-family: quicksand;
    font-weight: 600;
}