@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    background-color: #072227;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}


.container-1 {
    background-color: #181817;
    width: 100%;
    height: 100px;
}

.guest-part img {
    width: 4%;
    height: 10%;
    margin-left: 2%;
    margin-top: 1%;
}

.guest-part p {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-left: 120px;
    margin-top: -45px;
    color: #00FEFC;
}

.guest-part iconify-icon {
    margin-left: 10px;
    margin-bottom: 200px;
    cursor: pointer;
    color: #00FEFC;
}

.search-bar {
    width: 90%;
    height: 50px;
    max-width: 1400px;
    background: #303434;
    border-radius: 10px;
    margin-top: -35px;
    margin-left: 330px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px;
    height: 10px;
    font-size: 15px;
}

::placeholder {
    color: #FFFFFF;
    margin-top: -20px;
}

.search-bar button {
    background-color: #00FEFC;
    width: 120px;
    height: 50px;
    border: 0;
    margin-left: 75.5%;
    border-radius: 10px;
}

.profile-blue {
    width: 41px;
    height: 39px;
    border-radius: 55px;
    background-color: #00FEFC;
    left: 105%;
    bottom: 49px;
    position: relative;
}

.profile-blue i {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

.profile-blue p {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin-left: 260%;
    margin-top: -80%;
    width: 100px;
}

.profile-blue button {
    background-color: #00FEFC;
    width: 74px;
    height: 26px;
    border-radius: 20px;
    position: relative;
    left: 350%;
    top: -57%;
    font-family: 'Quicksand', sans-serif;
}

.icon-badge {
    position: relative;
    left: 32px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    background-color: #82CD47;
    border-radius: 20px;
}

#homeroblox {
    position: absolute;
    align-items: center;
    left: 555px;
    top: 200px;
}

.side-description {
    display: flex;
}

.listings-btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;   
    color: #00FEFC;
    position: absolute;
    top: 400px;
    left: 100px;
}

.listings-btn iconify-icon {
    margin-right: 30px;
    font-size: 20px;
}

.side-description p {
    position: absolute;
    top: 10%;
    right: -155%;
}

.side-information img {
    position: relative;
    top: 350px;
    left: 100px;
}

.star-green {
    color: #A1F615;
    font-size: 50px;
    position: absolute;
    top: 720px;
    left: 125px;
}

.side-information h3 {
    color: #00FEFC;
    font-family: 'Roboto', sans-serif;
    margin-top: 440px;
    margin-left: 100px;
}

.side-information p {
    margin-left: 100px;
    color: #00FEFC;
    font-family: 'Roboto', sans-serif;
}

.online-badge {
    width: 10px;
    height: 10px;
    background-color: #C0A236;
    border-radius: 100px;
    margin-left: 180px;
    position: relative;
    bottom: 15px;
}

.online-badge p {
    position: relative;
    right: 80px;
    bottom: 5px;
}

.online-badge iconify-icon {
    color: #00FEFC;
    font-size: 20px;
    margin-left: 80px;
    position: relative;
    bottom: 25px;
}

.online-badge :nth-child(3) {
    position: absolute;
    left: 10px;
    top: -4px;
    width: 1100%;
}

.side-text {
    width: 25%;
    margin-top: 30px;
}

.side-btn button {
    height: 100px;
    position: absolute;
    top: 1050px;
    width: 20%;
    left: 100px;
    background-color: #3A8891;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.side-btn iconify-icon {
    font-size: 50px;
    margin-top: 30px;
    margin-right: 190px;
    color: #FFFFFF;
}
.side-btn h1 {
    position: relative;
    bottom: 47px;
    color: #FFFFFF;
    left: 40px;
}

.items-1 {
    width: 70%;
    height: 156px;
    background-color: #9ED5C5;
    position: absolute;
    left: 540px;
    bottom: 320px;
    border-radius: 10px;
}

.items-1 img {
    position: relative;
    top: 30px;
    left: 40px;
}

.items-1 h1 {
    font-family: 'Roboto', sans-serif;
    margin-left: 180px;
    position: relative;
    bottom: 80px;
}
.items-1 p {
    font-family: 'Roboto', sans-serif;
    margin-left: 185px;
    position: relative;
    bottom: 80px;
}

.online-badging {
    width: 10px;
    height: 10px;
    background-color: #C0A236;
    margin-left: 255px;
    position: relative;
    bottom: 95px;
    border-radius: 20px;
}

.items-1 :nth-child(5) {
    font-family: 'Roboto', sans-serif;
    margin-left: 285px;
    position: relative;
    bottom: 110px;
    right: 10px;
    font-weight: bold;
}

.items-1 iconify-icon {
    font-size: 30px;
    margin-left: 350px;
    position: relative;
    bottom: 130px;
}

.items-1 h5 {
    font-family: 'Roboto', sans-serif;
    margin-left: 285px;
    position: relative;
    bottom: 160px;
    right: -100px;
}

.star-items {
    color: #00FEFC;
    margin-left: 285px;
    position: relative;
    bottom: 150px;
    right: 100px;
}

.star-items p {
    font-family: 'Roboto', sans-serif;
    margin-left: 285px;
    position: absolute;
    top: -20px;
    left: -190px;
    color: black;
}

footer {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 105%;
}

.number {
    position: absolute;
    left: 300px;
    top: 1200px;
}

.number p {
    margin-left: 100px;
    position: relative;
    bottom: 40px;
}

.gmail {
    position: absolute;
    left: 800px;
    top: 1200px;
}

.gmail p {
    margin-left: 100px;
    position: relative;
    bottom: 40px;
}

.location {
    position: absolute;
    left: 600px;
    top: 1px;
}

.location p {
    margin-left: 100px;
    position: relative;
    bottom: 60px;
    width: 174%;
}

.line-footer {
    width: 620%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 90px;
    left: -600px;
}

.about {
    font-family: 'Quicksand', sans-serif;
    color: #00FEFC;
    position: relative;
    top: 309px;
    left: 300px;
}

.company-1 {
    font-family: 'Quicksand', sans-serif;
    color: #00FEFC;
    position: relative;
    top: 200px;
    left: 500px;
}

.company-2 {
    font-family: 'Quicksand', sans-serif;
    color: #00FEFC;
    position: relative;
    top: 100px;
    left: 700px;
}

.email-bar input {
    background-color: #303434;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    border: 0;
    outline: 0;
    position: absolute;
    left: 1000px;
    bottom: -440px;
}

.hak-cipta {
    position: relative;
    top: 190px;
}

.hak-cipta img {
    position: relative;
    left: 860px;
}

.hak-cipta p {
    margin: 0 auto;
    width: fit-content;
    bottom: 80px;
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
}
