@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body {
    background-color: #072227;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}


.container-1 {
    background-color: #181817;
    width: 100%;
    height: 100px;
}

.guest-part img {
    width: 4%;
    height: 10%;
    margin-left: 2%;
    margin-top: 1%;
}

.guest-part p {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-left: 120px;
    margin-top: -45px;
    color: #00FEFC;
}

.guest-part iconify-icon {
    margin-left: 10px;
    margin-bottom: 200px;
    cursor: pointer;
    color: #00FEFC;
}

.search-bar {
    width: 90%;
    height: 50px;
    max-width: 1400px;
    background: #303434;
    border-radius: 10px;
    margin-top: -35px;
    margin-left: 330px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px;
    height: 10px;
    font-size: 15px;
}

::placeholder {
    color: #FFFFFF;
    margin-top: -20px;
}

.search-bar button {
    background-color: #00FEFC;
    width: 120px;
    height: 50px;
    border: 0;
    margin-left: 75.5%;
    border-radius: 10px;
}

.profile-blue {
    width: 41px;
    height: 39px;
    border-radius: 55px;
    background-color: #00FEFC;
    left: 105%;
    bottom: 49px;
    position: relative;
}

.profile-blue i {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

.profile-blue p {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin-left: 260%;
    margin-top: -80%;
    width: 100px;
}

.profile-blue button {
    background-color: #00FEFC;
    width: 74px;
    height: 26px;
    border-radius: 20px;
    position: relative;
    left: 350%;
    top: -57%;
    font-family: 'Quicksand', sans-serif;
}

.icon-badge {
    position: relative;
    left: 32px;
    bottom: 5px;
    width: 10px;
    height: 10px;
    background-color: #82CD47;
    border-radius: 20px;
}

.listings-btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;   
    color: #00FEFC;
    position: absolute;
    top: 180px;
    left: 100px;
}

.listings-btn iconify-icon {
    margin-right: 150px;
    font-size: 20px;
}

.side-information p {
    position: absolute;
    top: 10%;
    right: 20%;
}

.side-information img {
    width: 24%;
    position: absolute;
    left: 100px;
    top: 250px;
}

.side-ordering {
    align-items: center;
}

.side-ordering p {
    color: #AEFEFF;
    font-family: 'Quicksand', sans-serif;
    margin-left: 110px;
    margin-top: 460px;
}

.side-ordering button {
    width: 2%;
    height: 34px;
    border: none;
    background-color: #2EDFCA;
    position: relative;
    left: 110px;
    top: 10px;
    border-radius: 10px;
}

.side-ordering iconify-icon {
    font-size: 20px;
}

.side-ordering h5 {
    color: #AEFEFF;
    font-family: 'Quicksand', sans-serif;
    margin-left: 180px;
    margin-top: -8px;
}

.side-btn button {
    height: 67px;
    width: 10%;
    background-color: rgba(0, 254, 252, 0.35);
    position: absolute;
    top: 680px;
    left: 110px;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.offers-btn button {
    height: 67px;
    width: 10%;
    background: none;
    outline: none;
    border: none;
    position: absolute;
    top: 680px;
    left: 410px;
    color: #A4D1C9;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

.offers-btn iconify-icon {
    color: #00FEFC;
    font-size: 40px;
    margin-left: 20px;
    position: relative;
    top: 10px;
}

.information-center h5 {
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
    margin-left: 600px;
    position: relative;
    bottom: 300px;
}

.information-center p {
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
    margin-left: 600px;
    position: relative;
    bottom: 300px;
    font-size: 15px;
}

.information-center :nth-child(3) {
    color: #8ED022;
    margin-left: 600px;
    position: relative;
    bottom: 290px;
    font-size: 18px;
}

.information-center :nth-child(4) {
    color: #8ED022;
    margin-left: 10px;
    position: relative;
    bottom: 290px;
    font-size: 18px;
}

.information-center :nth-child(5) {
    color: #8ED022;
    margin-left: 10px;
    position: relative;
    bottom: 290px;
    font-size: 18px;
}

.information-center :nth-child(6) {
    color: #8ED022;
    margin-left: 10px;
    position: relative;
    bottom: 290px;
    font-size: 18px;
}

.information-center :nth-child(7) {
    color: #8ED022;
    margin-left: 10px;
    position: relative;
    bottom: 290px;
    font-size: 18px;
}

.information-center h6 {
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
    margin-left: 600px;
    position: relative;
    bottom: 310px;
    left: 180px;
}

.information-description {
    position: absolute;
    left: 600px;
    bottom: 50px;
}

.information-description iconify-icon {
    color: #00FEFC;
    font-size: 40px;
}

.information-description p {
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    width: 40%;
    margin-left: 80px;
    position: relative;
    bottom: 50px;
}

.information-description :nth-child(3) {
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    width: 40%;
    margin-left: 80px;
    position: relative;
    bottom: 40px;
}

.information-description :nth-child(4) {
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    width: 40%;
    margin-left: 80px;
    position: relative;
    bottom: 30px;
}

.right-image img {
    position: absolute;
    left: 1500px;
    bottom: 120px;
}

.number {
    position: absolute;
    left: 300px;
    top: 1000px;
}

.number p {
    margin-left: 100px;
    position: relative;
    bottom: 40px;
}

.gmail {
    position: absolute;
    left: 800px;
    top: 1000px;
}

.gmail p {
    margin-left: 100px;
    position: relative;
    bottom: 40px;
}

.location {
    position: absolute;
    left: 500px;
    top: 1px;
}

.location p {
    margin-left: 100px;
    position: relative;
    bottom: 60px;
    width: 174%;
}

.line-footer {
    width: 620%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 90px;
    left: -650px;
}

.about {
    font-family: 'Quicksand', sans-serif;
    color: #00FEFC;
    position: relative;
    top: 420px;
    left: 300px;
}

.company-1 {
    font-family: 'Quicksand', sans-serif;
    color: #00FEFC;
    position: relative;
    top: 315px;
    left: 500px;
}

.company-2 {
    font-family: 'Quicksand', sans-serif;
    color: #00FEFC;
    position: relative;
    top: 210px;
    left: 700px;
}

.email-bar input {
    background-color: #303434;
    border-radius: 10px;
    width: 30%;
    height: 50px;
    border: 0;
    outline: 0;
    position: absolute;
    left: 1000px;
    bottom: -240px;
}

.hak-cipta {
    position: relative;
    top: 290px;
}

.hak-cipta img {
    position: relative;
    left: 860px;
}

.hak-cipta p {
    margin: 0 auto;
    width: fit-content;
    bottom: 80px;
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
}
