body {
    background-color: #072227;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.container-1 {
    background-color: #18181754;
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.logo-part img{
    width: 62.65px;
    height: 49px;
    padding-right: 5px;
    padding-left: 30px;
}
.logo-title {
    color: #00FEFC;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}
.search-bar {
    padding: 0 30px;
}
.search-bar input[type="search"] {
    
    background-color: #303434;
    border: 0.1px solid #00fefe17;
    border-radius: 10px;
    width: 730px;
    height: 45px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 0 10px;
}
.search-bar button[type="submit"] {
    background-color: #00FEFC;
    border: 1px solid #00FEFC;
    border-radius: 10px;
    position: relative;
    width: 114px;
    height: 45px;
    left: -114px;
}
.search-bar input[type="search"]:focus
 {
    border: #00FEFC;
    outline: 0.1px solid #00FEFC;
}
.container-icon-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 110px;
}
.profile-blue {
    background-color: #AEFEFF;
    width: 31.67px;
    height: 31.67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.notification-bell {
    color: #AEFEFF;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20px;
    font-size: 28px;
}
.container-log {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 50px;
}
.login {
    color: #AEFEFF;
}
.sign-up {
    background-color: #AEFEFF;
    position: relative;
    left: 10px;
    width: 74px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.menu-dot {
    color: #AEFEFF;
    font-size: 24px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}